body {
  background: #FBF6EF;
}
a {
  color: #726d6d;
  /*text-decoration: none;*/
  /*font: 400 20px "Ubuntu Mono", monospace;*/
}

/*utilities*/
.box {
  min-height: 110vh;
}

.box > * {
    /*border:1px solid green;*/
}

.material-symbols-rounded {
  position: absolute;
  /*background-color: teal;*/
  color: orange;
  padding: 10px;
  scale: 2;
  z-index: 999;
  text-shadow: 0 2px 8px rgba(229, 137, 48, 0.45);
}

.sticker {
  position: absolute;
  z-index: 999;
  padding: 10px;
  bottom: 0;
  /*scale: 0.25;*/
  width: 12vw;
  height: auto;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5));
}

.random-container {
  position: relative;
  width: 500px;
  height: 500px;
  border: 1px solid black;
}

.space {
    margin: 0;
    padding: 0;
    height: 100px;
}

.logo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  left: 5vw;
  top: 70px;
  font: 400 20px "Ubuntu Mono", monospace;
  width: fit-content;
}

/*catalog*/

.catalogs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
  justify-content: flex-start;
  position: fixed;
  right: 5vw;
  top: 70px;
  z-index: 999;
  /*background-color: rgba(247, 248, 250, 0.3);*/
  /*backdrop-filter: blur(100px);*/
}
.catalog {
  display: flex;
  flex-direction: row;
  color: #000000;
  text-decoration: none;
  text-align: left;
  font: 400 20px "Ubuntu Mono", monospace;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  background: white;
}
.catalog.active {
  color: orange;
  text-decoration: line-through;
}

/*intro*/

.description {
  color: #000000;
  text-align: right;
  font: 400 20px "Ubuntu Mono", monospace;
  position: relative;
  left: 10vw;
  top: 10vw;
  width: 18vw;
}
.name {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 25vh 0 0 0;
  position: sticky;
  top: 10vh;
  overflow-x: clip;
}
.en {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.name-en {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-end;
  flex-shrink: 0;
  position: relative;
}
.guo {
  color: #000000;
  text-align: left;
  font: 900 16.5vw "Montserrat", sans-serif;
  position: relative;
}
.name-label {
  color: #000000;
  text-align: left;
  font: 900 2vw "Montserrat", sans-serif;
  position: absolute;
  left: 3vw;
  top: 0px;
}
.cn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.name-cn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: -0vw 0 0;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  color: #000000;
  text-align: left;
  font: 900 14.5vw "Montserrat", sans-serif;
}

/*scroll*/

#scrollToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  width: 40px;
  height: 40px;
  background-color: #484747;
  color: #fff;
  border: none;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  line-height: 40px;
  cursor: pointer;
  }

/*expander*/
.expander {
  background-color: white;
  border-radius: 8px;
  border: 0 solid white;
  margin-bottom: 10px;
  /*overflow: hidden;*/
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.expander-header {
  padding: 20px;
  cursor: pointer;
  font-family: "Ubuntu Mono", monospace;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*transition: color 0.3s ease;*/
}

.expander:hover .expander-header{
  /*background-color: orange;*/
  /*color: white;*/
  color: orange;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.expander:hover .expander-header.nyu{
  /*background-color: #57068c;*/
  /*color: white;*/
  color: #57068c;
}

.expander-badge {
  position: relative;
  padding: 4px 8px;
  background-color: #555;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.expander-badge.nyu {
  background-color: mediumpurple;
}


/*.expander-content {*/
/*  display: none;*/
/*  padding: 10px;*/
/*  transition: max-height 0.3s ease;*/
/*}*/

.expander-content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s step-start;
}
.expander.show {
  background-color: #FBF6EF;
  /*border: 2px solid whitesmoke;*/
  border-top: 2px solid orange;
  border-radius: 0;
  padding-top: 30px;
}

.expander.nyu.show {
  border-top: 2px solid #57068c;
}

.expander.show .expander-content {
  display: block;
  position: relative;
  max-height: 1000px;
  overflow: visible;
  /*background-color: #FBF6EF;*/
}

.expander.show .expander-header{
  font-size: 30px;
  transition: all 0.3s ease;
  padding: 0;
}

.expander-content-column {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  /*padding: 5px 20px 20px 20px;*/
  padding: 20px 0 40px 0;
}

.expander-content-column .column {
  flex-basis: 50%;
}

.expander-image {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    background: white;
}