<nav class="nav" id="nav">
  <ul>
    <li class="nav-grouped"><a class="nav-link" href="index.html">Home</a></li>
    <li class="nav-grouped"><a class="nav-link" href="about.html">About</a></li>
    <li class="nav-grouped"><a class="nav-link" href="projects.html">Projects</a></li>
    <li class="nav-grouped"><a class="nav-link" href="awards.html">Awards</a></li>
    <li class="nav-grouped"><a class="nav-link" href="gallery.html">Gallery</a></li>

    <li class="placeholder"></li>
    <li class="nav-separated"><a href="https://www.linkedin.com/in/yuanhe-guo-86ab25246/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
    <li class="nav-separated"><a href="https://github.com/RicercarG" target="_blank"><i class="fab fa-github"></i></a></li>
    <li class="nav-separated"><a href="mailto:yg2709@nyu.edu">yg2709@nyu.edu</a></li>
  </ul>
</nav>
